extends layout

// results
block content
    script(type='text/javascript' src='/scripts/commons.js')

    button(onclick='movepage("/board")') 글 목록으로 돌아가기

    h1 글쓰기

    form(method='post', action='/board/post')
        p 제목
        input(type='text', name='title', placeholder="title")
        p 파일
        input(type='file', name='file')
        p 내용
        textarea(name='subtitle')
        p
        input(type='submit', value='전송')