extends layout

// maxcount, page, results, user [email, name], count
block content
    script(type='text/javascript' src='/scripts/commons.js')

    - if(user[0] == null) {
    button(onclick='movepage("/login")') 로그인
    - } else {
    p= '어서오세요 ' + user[1] + '님'
    button(onclick='movepage("/board/post")') 글쓰기
    form(action='/logout' method='post')
        button() 로그아웃
    - }
    - if(count != 0) {
        - if(page != count/results.length) {
        button(onclick='movepagewithnumber("/board/list/",' + page + "," + 1 + ')') 다음페이지 이동
        - } if (page != 1) {
        button(onclick='movepagewithnumber("/board/list/",' + page + "," + (-1) + ')') 이전페이지 이동
        - }
    - }

    ul
        each data in results
            li
                ul
                    li
                        input(type='button' class='astext' value=data.title onclick='movepagewithnumber("/board/entry/",' + data.id + ')')
                    p
                    li= data.name
                    p
                p


