extends layout

block content
    script(type='text/javascript' src='/scripts/commons.js')

    h1 글쓰기

    form(action='/board/write', method='post')
        p 제목
        input(type='text', name='input_title')
        p 내용
        textarea(name='input_subtitle')
        p
        input(type='submit', value='전송')

    button(onclick='movepage("/board")') 글 목록으로 돌아가기
